@font-face {
font-family: "Aileron";
src: url("../fonts/aileron-ultralight-webfont.eot");
src:
url("../fonts/aileron-ultralight-webfont.woff") format("woff"),
url("../fonts/Aileron-Ultralight.otf") format("opentype"),
url("../fonts/aileron-ultralight-webfont.svg") format("svg");
}

@font-face {
font-family: "Elianto";
src: url("../fonts/elianto-regular-webfont.eot");
src:
url("../fonts/elianto-regular-webfont.woff") format("woff"),
url("../fonts/Elianto-Regular.otf") format("opentype"),
url("../fonts/elianto-regular-webfont.svg") format("svg");
}