<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Tutorial</title>
  </head>
  <body>
    {% extends "header.html" %}
    {% block content %}

    <h1> My First Try Using Flask </h1>
    <p> Flask is Fun </p>
    <form id="form1" action="/" method="POST" enctype="multipart/form-data">
    <select id="mySelect" name = "component">
      {% if not session['device'] %}
        <option value="device">Device</option>
      {% endif %}
      {% if not session['solar_panel'] %}
        <option value="solar_panel">Solar Panel</option>
      {% endif %}
      {% if not session['battery'] %}
      <option value="battery">Battery</option>
      {% endif %}
    </select>
    <input type="submit" value="Submit">
    </form>
    <form id="form2" action="/" method="POST" enctype="multipart/form-data">
      <p> {% if session['battery'] %}
        {{session['battery']}}
        <input type="submit" name="battery" value="delete">
      {% endif %} </p>
      <p> {% if session['solar_panel'] %}
        {{session['solar_panel']}}
        <input type="submit" name="solar_panel" value="delete">
      {% endif %} </p>
      <p> {% if session['device'] %}
        {{session['device']}}
        <input type="submit" name="device" value="delete">
      {% endif %} </p>
     </form>

    {% if session['device'] and session['battery'] and session['solar_panel'] %}
      <form id="form3" action="/" method="POST" enctype="multipart/form-data">
        <p>
          <input type="submit" name="maintenance" value="Maintenance">
        </p>
      </form>
    {% endif %}

    {% if session['maintenance'] %}
      {{session['maintenance']}}
    {% endif %}
    {% endblock %}

  </body>
</html>
