<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.10/css/all.css'>
<!--     <link rel="stylesheet" href="../static/css/style.css">
 -->    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>


  <title>IoT model</title>

  </head>
 <body>
 {% extends "header.html" %}
 {% block content %}
  <div class="h-100">
    <div class="masthead">
      <div class="masthead-bg"></div>
      <div class="container h-100">
      <div class="h-100 row col-12">
        <div class="form-holder my-auto col-12 menu-items-left row h-100">
          <div class="h-100 col-sm-2"> 
            <div class="align-self-center my-auto">
              <nav class="navbar small-rounded-nav" >
                <form class="form-holder" id="form1" action="/" method="POST" enctype="multipart/form-data">
                  <ul class="navbar-nav">
                    <li class="navbar-item">
                      <a id="Device" class="btn btn-outline-success list-group-item-action nav-fields-settings" href="{{url_for('home.index')}}"><img style="width:20%" src="../static/img/home.svg" alt="home">
Back</a> <br />
                    </li>
                    <li class="navbar-item">
                      <a id="Device" class="btn btn-outline-success list-group-item-action nav-fields-settings" href="{{url_for('device.create_device')}}">Device</a> <br />
                    </li>
                    <li class="navbar-item">
                      <a id="Solar Panel" class="btn btn-outline-success list-group-item-action nav-fields-settings" href="{{url_for('solar_panel.create_solar_panel')}}">Solar Panel</a><br />
                    </li>
                    <li class="navbar-item">  
                      <a id="Battery" class="btn btn-outline-success list-group-item-action nav-fields-settings" href="{{url_for('battery.create_battery')}}">Battery</a><br />
                    </li>
                    <li class="navbar-item">
                      {% if device and battery and solar_panel%}
                        <a id="Maintenance" class="btn btn-outline-success list-group-item-action nav-fields-settings" href="{{url_for('maintenance.create_maintenance')}}">Maintenance</a><br />
                      {% else %}
                        <a id="Maintenance" class="btn btn-outline-success nav-fields-settings disabled ">Maintenance</a><br />
                      {% endif %} 
                    </li>
                  </ul>
                </form>
              </nav>
            </div>
          </div>
          {% if device_bool %}
          <div class="h-100 col-sm-2 leftbox-color"> 
            <div class="align-self-center my-auto">
                <nav class="navbar small-rounded-nav" >
                  <form class="form-holder" id="form1" action="/" method="POST" enctype="multipart/form-data">
                    <ul class="navbar-nav">
                      <li class="navbar-item">
                        <a id="Maintenance" class="btn btn-outline-success list-group-item-action nav-fields-settings" href="{{url_for('device.radio')}}">Radio</a><br />
                      </li>
                      <li class="navbar-item">
                        <a id="Battery" class="btn btn-outline-success list-group-item-action nav-fields-settings" href="{{url_for('device.board')}}">Boards</a><br />
                      </li>
                      <li class="navbar-item">
                        <a id="Solar Panel" class="btn btn-outline-success list-group-item-action nav-fields-settings" href="{{url_for('device.sensor')}}">Sensors</a><br />
                      </li>
                      <li class="navbar-item">
                        <a id="Maintenance" class="btn btn-outline-success list-group-item-action nav-fields-settings" href="{{url_for('device.processor')}}">Processor</a><br />
                      </li>
                      <li class="navbar-item">
                        <a id="Device" class="btn btn-outline-success list-group-item-action nav-fields-settings" href="{{url_for('device.configuration')}}">Configuration</a> <br />
                      </li>
                  </form>
                </nav>
            </div>
          </div>
          {% endif %}
          <div class = "align-self-center col-sm-8">
          {% if values %}
            <canvas id="myChart" width="450" height="450"></canvas>
            <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: [
                      {% for i in labels %}
                        "{{i}}",
                      {% endfor %}
                    ],
                    datasets: [{
                        label: 'MJ impact',
                        data: [
                        {% for v in values %}
                          "{{v}}",
                        {% endfor %}
                        ],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)'
                        ],
                        borderWidth: 1
                    },
                    {
                        label: 'MJ impact',
                        data: [
                        {% for v in g_values %}
                          "{{v}}",
                        {% endfor %}
                        ],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)'
                        ],
                        borderWidth: 1
                    }],
            
                },
                options: {
                  responsive: false,
                  circumference: 2 * Math.PI,
                  rotation: -1 * Math.PI,
                  title: {
                    display: true,
                    text: 'Configuration of the energy impact of the Green (inner) and Real (outer)'
                  },
                  legend: {
                    display: false
                  }
                }
            });
            </script>
            {% endif %}
            {% if form %}
              {% if title_form == 'Boards' or title_form == 'Sensors'%}
                {% set l = form|length - 1%}
                  <form id="form2" action="" method="POST" enctype="multipart/form-data"> 
                    <button class="button buttonJeans" type="submit" name="add" value="add">Add</button>
                  </form>

                <div id="accordion">
                {% for f in form %}
                  {% set counter = loop.index0 %}
                    <div class="card card-color">
                      <div class="card-header">
                        <a style="color: rgba(255, 255, 255, 0.85)" class="card-link color-link" data-toggle="collapse" href="#collapse{{counter}}">
                          {{title_form}} {{counter}}
                        </a>
                      </div>
                      <div id="collapse{{counter}}" class="collapse" data-parent="#accordion">
                        <div class="card-body card-b-color">
                          <form class="form-group " action="" method="POST">
                            {{ f.hidden_tag() }}
                            <h2 class="formTitle">{{title_form}}</h2>
                            <fieldset>
                              {% for field in f.display %}
                                <label for="{{ field }}" >{{ f[field].label }}</label>
                                {{ f[field](class_="f-control col-md-2")}}
                                {% if f[field].errors %}
                                  {% for e in f[field].errors %}
                                    <p class="help-block" style="color:red;">{{ e }} Check the type inserted</p>
                                  {% endfor %}
                                {% endif %}
                              {% endfor %}      
                            </fieldset>
                            <button class="button buttonJeans" type="submit" name="submit" value="{{counter}}">Submit</button>
                            {% if f.active_mode.data%}
                              <button class="button buttonJeans" type="delete" name="delete" value="{{counter}}">   Delete</button>
                            {% endif %}
                            {% if title_form=='Boards' and f.weight.data%}
                              <button class="button buttonJeans" type="delete" name="delete" value="{{counter}}">   Delete</button>
                            {% endif %}
                          </form>
                        </div>
                      </div>
                    </div>
                {% endfor %}
                </div>
              {% else %}
                <!-- <form class="form-group" action="" method="POST">
                  {{ form.hidden_tag() }}
                  <h2 class="formTitle">{{title_form}}</h2>
                  <fieldset>
                    {% for field in form.display %}
                      <label for="{{ field }}" >{{ form[field].label }}</label>
                      {{ form[field](class_="form-control col-md-2")}}
                      {% if form[field].errors %}
                        {% for e in form[field].errors %}
                          <p class="help-block" style="color:red;">{{ e }} Check the type inserted</p>
                        {% endfor %}
                      {% endif %}
                    {% endfor %}      
                  </fieldset>
                  <button class="button buttonJeans" type="submit">Submit</button>
                </form> -->
              <div id="accordion">
                    <div class="card card-color">
                      <div id="collapse" class="" data-parent="#accordion">
                        <div class="card-body card-b-color">
                          <form class="form-group" action="" method="POST">
                            {{ form.hidden_tag() }}
                            <h2 class="formTitle">{{title_form}}</h2>
                            <fieldset>
                              {% for field in form.display %}
                                <label for="{{ field }}" >{{ form[field].label }}</label>
                                {{ form[field](class_="f-control col-md-2")}}
                                {% if form[field].errors %}
                                  {% for e in form[field].errors %}
                                    <p class="help-block" style="color:red;">{{ e }} Check the type inserted</p>
                                  {% endfor %}
                                {% endif %}
                              {% endfor %}      
                            </fieldset>
                            <button class="button buttonJeans" type="submit" name="submit" value="{{counter}}">Submit</button>
                          </form>
                        </div>
                      </div>
                    </div>
                </div>

              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  {% endblock %}
  </body>
</html>
