<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Tutorial</title>
  </head>
  <body>
    {% extends "header.html" %}
    {% block content %}
      <div class="form">
        <form action="" method="POST">
          {{ form.hidden_tag() }}
          <h2 class="formTitle">Maintenance</h2>
      
          <fieldset>
            {% for field in form.display %}
              <label class="labelFor" for="{{ field }}">{{ form[field].label }}</label>
              {{ form[field] }}
              {% if form[field].errors %}
                {% for e in form[field].errors %}
                  <p class="help-block" style="color:red;">{{ e }} Check the type inserted</p>
                {% endfor %}
              {% endif %}
            {% endfor %}
      
          </fieldset>
          <button class="button buttonJeans" type="submit">Login</button>
      
        </form>
      </div>
    {% endblock %}
  </body>
</html>
